body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.titulo {
    padding: 2%;
    align-self: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 10%;
    transform: translateX(-50%);
    font-size: 200%;
}

.titulo a {
    text-decoration: none;
    color: white;
}

.header {
    padding: 2%;
    align-self: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
    font-size: 120%;
}

.header a {
    text-decoration: none;
    color: white;
}

.Perfil {
    padding: 2%;
    align-self: right;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateX(-50%);
    font-size: 150%;
}

.Perfil a {
    text-decoration: none;
    color: white;
}

.comentario-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}

form {
    background-color: #333;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input, textarea {
    padding: 10px;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    padding: 10px;
    background-color: #888;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

button:focus {
    outline: none;
}

footer {
    background-color: #D9D9D9;
    color: #111;
    padding: 15px;
}

.titulo-footer a {
    font-weight: bolder;
    font-size: 200%;
    text-decoration: none;
    color: #111;
}

.footer-englobamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: relative;
}